.siz{

    font-size: 15pt;
}

body{
    background-color: #596e79;
       }
.boxc{
    border: 40px solid #c7b198;
    /* margin-top: 30pt; */
    color: #596e79;
    background-color: #f0ece3;
    box-shadow: 0 0 20px #cd5c16;

    box-shadow: 0 0 20px black;
}